{"openapi":"3.0.3","info":{"title":"Biteq by Teqquu","description":"This documentation has been automatically generated by Treblle. Visit https:\/\/treblle.com\/ and get started for FREE.","version":"1.0.0"},"servers":[{"url":"https:\/\/biteq.teqquu.com"}],"paths":{"\/check-invoice":{"get":{"operationId":"a90bb8ea-558b-4ea5-8dab-eaf5f44fa9ee","tags":["check-invoice"],"parameters":[{"name":"hash","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"GET \/check-invoice","content":{"application\/json":{"schema":{"type":"object","properties":{"paid":{"type":"string"}}}}}}}}},"\/create-invoice":{"post":{"operationId":"c1453acf-ef2f-4908-b867-11c4c9f8ea66","tags":["create-invoice"],"requestBody":{"required":true,"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"amount":{"type":"string"}}}}}},"responses":{"200":{"description":"POST \/create-invoice","content":{"application\/json":{"schema":{"type":"object","properties":{"checkingId":{"type":"string"},"invoice":{"type":"string"}}}}}}}}},"\/pay-invoice":{"post":{"operationId":"59f514fe-fcfa-4869-8bcf-f0238cdf63c0","tags":["pay-invoice"],"requestBody":{"required":true,"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"invoice":{"type":"string"}}}}}},"responses":{"200":{"description":"POST \/pay-invoice","content":{"application\/json":{"schema":{"type":"object","properties":{"payment_hash":{"type":"string"}}}}}}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer"}}},"security":[{"BearerAuth":[]}]}